@model LuckySpin.Models.Spin
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Lucky Spin</title>
    <link rel="stylesheet" href="/luckyStyles.css">
</head>
<body>
   
    <button onclick='history.go(0)'>Spin</button>
   <div>@Model.a</div><div>@Model.b</div><div>@Model.c</div>
    <h1> Lucky @Model.luck </h1>
    <img src="/Images/LuckySpinCoins.jpg" alt="Coins" style="display:@Model.ImgDisplay" />
</body>
</html>
